/* ==================================================
* Banner
* ================================================== */

.banner {

    box-shadow:
        inset 0 8px 10px -8px rgba(0,0,0,0.6),
        inset 0 -8px 10px -8px rgba(0,0,0,0.6);


    &-inner {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &-subheader {
        margin-bottom: rem-calc(map-get($spacers, 3));
    }

    .subheader,
    .headline {
        color: $color-white;
    }

    &:has(.subheader) {
        .headline {
            margin-bottom: 0;
        }
    }
}
