/* ==================================================
* Contact-Slider
* ================================================== */
.contact-slider {
    --contact-slider-color-background: var(--color-surface-subtle);
    --contact-slider-color-image-background: var(--color-surface-default);

    .owl-stage,
    .owl-item {
        height: 100%;
        background-color: var(--contact-slider-color-background);
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--contact-slider-color-background);

        .headline {
            margin-bottom: 0;
        }
    }

    &-image {
        display: flex !important;
        justify-content: center;

        background-color: var(--contact-slider-color-image-background);
        width: 100%;
        flex: 0 0 auto;
        padding-left: rem-calc(map-get($spacers, 5));
        padding-right: rem-calc(map-get($spacers, 5));

        .img-inner {
            width: auto;
        }

        img {
            max-width: rem-calc(360);
            aspect-ratio: 4/5;
        }
    }

    &-labels {
        padding: rem-calc(map-get($spacers, 4));
        flex: 1;
        text-align: center;
        width: 100%;
    }
}
