/* ==================================================
* Screenreader links
* ================================================== */
.keyboard-shortcuts {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #fff;

    @include media-breakpoint-down(lg) {
        display: none;
    }

    &-link {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 99999 !important;
        padding: 10px !important;
        display: block;
        background-color: #fff;
        white-space: nowrap !important;
    }
}
