/* ==================================================
* News
* ================================================== */
.news-items {

    --news-items-group-color-surface-default: var(--color-surface-default);
    --news-items-group-color-surface-subtile: var(--color-surface-subtle);
    --news-items-group-color-headline: var(--color-heading-subtle);

    display: flex;
    flex-direction: column;

    .headline {
        margin-bottom: 0;
    }

    &-header {
        .headline {
            color: var(--news-items-group-color-headline);
        }
    }

    &-group {
        padding-top: map-get($spacers, 10);
        background-color: var(--news-items-group-color-surface-subtile);

        &.is-even {
            background-color: var(--news-items-group-color-surface-default);
        }
    }
}
/** ==================================
    News filter
 ================================== */
.news-filter {
    --news-filter-text: var(--color-text-default);
    --news-filter-text-hover: var(--color-brand-primary);
    --news-filter-text-active: var(--color-brand-primary);
    --news-filter-background: var(--color-surface-default);
    --news-filter-background-active: var(--color-surface-subtle);
    --news-filter-border: var(--color-border-subtle);


    background: var(--news-filter-background);

    &-list {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        gap: rem-calc(map-get($spacers, 2));
        padding-top: map-get($spacers, 8);
    }

    &-item {
        @include tab-nav;

        position: relative;
        padding:
            rem-calc(map-get($spacers, 3))
            rem-calc(map-get($spacers, 4));

        border: rem-calc(1) solid transparent;
        border-bottom: 0;
        border-top-left-radius: rem-calc($spacer);
        border-top-right-radius: rem-calc($spacer);

        background: transparent;
        color: var(--news-filter-text);

        transition:
            background-color 150ms ease,
            color 150ms ease;

        &:focus-visible {
            outline: rem-calc(2) solid var(--color-outline-accessibility);
            outline-offset: rem-calc(2);
            text-decoration: none;
        }

        &.active {
            background: var(--news-filter-background-active);
            color: var(--news-filter-text-active);
            border-color: var(--news-filter-border);

            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: rem-calc(-1);
                left: 0;

                height: rem-calc(2);
                background: var(--news-filter-background-active);
            }
        }
    }

    &-link:hover {
        color: var(--news-filter-text-hover);
        text-decoration: none;
    }
}

/** ==================================
    News item in list
 ================================== */

.news-item {
    --news-item-color-border: var(--color-brand-primary);

    border-bottom: rem-calc(2) solid var(--news-item-color-border);

    &:last-child {
        border-bottom: 0;
    }

    .headline {
        margin-bottom: 0;
    }

    &-inner {
        display: flex;
    }

    &-header{
        margin-bottom: rem-calc(map-get($spacers, 2));
    }


    &-image {
        overflow:hidden;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &-cta {
        margin-top: rem-calc(map-get($spacers, 5));
    }
}

/** ==================================
    Detail
 ================================== */
.news-detail {

    &-body {
        > .csp-block {
            padding-top: rem-calc(map-get($spacers, 8));
        }
    }

    &-cta-wrap {
        position: relative;
        z-index: 4;
    }

    &-cta{
        margin-top: rem-calc(map-get($spacers, 8));
    }
}
