/* ==================================================
* Parallax Stack
* ================================================== */

.parallax-stack {

    --parallax-stack-color-text: var(--color-text-default);
    --parallax-stack-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.22);
    --parallax-stack-card-width: #{rem-calc(730)};
    --parallax-stack-card-padding: #{rem-calc(map-get($page-padding, xs))};
    --parallax-stack-content-padding: #{rem-calc(map-get($page-padding, xs))};

    @include media-breakpoint-up(sm) {
        --parallax-stack-card-padding: #{rem-calc(map-get($page-padding, sm))};
        --parallax-stack-content-padding: #{rem-calc(map-get($page-padding, xs))};
    }

    @include media-breakpoint-up(md) {
        --parallax-stack-card-padding: #{rem-calc(map-get($page-padding, md))};
        --parallax-stack-content-padding: #{rem-calc(map-get($spacers, 9))};
    }

    @include media-breakpoint-up(lg) {
        --parallax-stack-card-padding: #{rem-calc(map-get($page-padding, lg))};
    }
    @include media-breakpoint-up(xl) {
        --parallax-stack-card-padding: #{rem-calc(map-get($page-padding, xl))};
    }

    @include media-breakpoint-up(xxl) {
        --parallax-stack-card-padding: #{rem-calc(map-get($page-padding, xxl))};
        --parallax-stack-content-padding: #{rem-calc(map-get($spacers, 11))};
    }

    @include media-breakpoint-up(xxxl) {
        --parallax-stack-card-padding: #{rem-calc(map-get($page-padding, xxxl))};
    }

    position: relative;

    &-item {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        min-height: 100vh;
    }

    &-item + &-item {
        margin-top: 0;
    }

    &-image {
        position: sticky;
        top: 0;
        z-index: 1;
        grid-area: 1 / 1;
        height: 100vh;
        overflow: hidden;
    }

    &-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-content {
        position: relative;
        z-index: 2;
        grid-area: 1 / 1;

        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        min-height: 100vh;
        max-width: $page-max-inner-width;
        margin-left: auto;
        margin-right: auto;

        padding: var(--parallax-stack-content-padding);
        padding-top: calc(var(--parallax-stack-content-padding) + rem-calc($siteheader-height-mobile));
        padding-bottom: calc(var(--parallax-stack-content-padding) + 100vh); // add 100vh so the image stands while the text scrolls

        @include media-breakpoint-up($siteheader-breakpoint-tablet) {
            padding-top: calc(var(--parallax-stack-content-padding) + rem-calc($siteheader-height-tablet));
        }

        @include media-breakpoint-up($siteheader-breakpoint-desktop) {
            padding-top: calc(var(--parallax-stack-content-padding) + rem-calc($siteheader-height-desktop));
        }
    }

    &-card {
        width: min(100%, var(--parallax-stack-card-width));
        padding: var(--parallax-stack-card-padding);
        box-shadow: var(--parallax-stack-shadow);
        backdrop-filter: blur(0.5rem);
        pointer-events: auto;
    }

    /*
     * Text-only block
    */
    &-item.variant-text-only {
        min-height: auto;

        .parallax-stack-content {
            min-height: auto;
            padding-bottom: var(--parallax-stack-content-padding);
        }

        .parallax-stack-card {
            box-shadow: none;
            backdrop-filter: none;
        }
    }

    /*
     * Orientation
     */
    .variant-left &-content {
        justify-content: flex-start;
    }

    .variant-right &-content {
        justify-content: flex-end;
    }

    /*
     * Mobile Fallback
     */
    @include media-breakpoint-down(md) {
        &-item:not(.variant-text-only) {
            display: block;
            min-height: auto;

            .parallax-stack-image {
                position: relative;
                height: 65vh;
            }

            .parallax-stack-content {
                display: block;
                min-height: auto;
                padding-bottom: var(--parallax-stack-content-padding);
                padding-top: var(--parallax-stack-content-padding);
            }

            .parallax-stack-card {
                margin-top: -5rem;
                position: relative;
            }
        }

        .variant-left &-content,
        .variant-right &-content {
            justify-content: initial;
        }
    }
}
