/* ==================================================
* Site-Header
* ================================================== */
@use 'sass:math';

$siteheader-breakpoint-variant: xl;
$siteheader-height-desktop: 180px;
$siteheader-height-mobile: 100px;

.siteheader {

    position: fixed;
    top:0;
    left:0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 1);
    transition: top 0.5s ease-in-out;

    width: 100%;
    height: rem-calc($siteheader-height-mobile);
    max-width: 100vw;
    box-shadow: rem-calc(0) rem-calc(0) rem-calc(15) rem-calc(0) #63636340;

    @include media-breakpoint-up($siteheader-breakpoint-variant) {
        height: rem-calc($siteheader-height-desktop);
    }

    &-inner {
        height: 100%;
        padding: rem-calc(map-get($spacers, 3)); // 16

        @include media-breakpoint-up(sm) {
            padding-left: rem-calc(map-get($spacers, 4)); // 24
            padding-right: rem-calc(map-get($spacers, 4)); // 24
        }

        @include media-breakpoint-up($siteheader-breakpoint-variant) {
            padding: rem-calc(map-get($spacers, 4)) rem-calc(map-get($spacers, 6)) rem-calc(map-get($spacers, 4)) rem-calc(map-get($spacers, 6)) ;
        }
    }

    &-brand {
        display: flex;
        height: 100%;

        &-container {
            height: 100%;

            &.variant-small {
                padding: rem-calc(map-get($spacers, 1));
                background-color: map-get($color-map, 'clover');

                @include media-breakpoint-up($siteheader-breakpoint-variant) {
                    display: none;
                }
            }

            &.variant-big {
                height: calc(rem-calc($siteheader-height-desktop) - rem-calc(map-get($spacers, 4)) * 2);
                display: none;

                @include media-breakpoint-up($siteheader-breakpoint-variant) {
                    display: block;
                }
            }
        }

        &-logo {
            height: 100%;
        }

        &-link {
            display: inline-block;
            @include accessibility-outline($color: $color-outline);
        }
    }

    &-headline {
        @include h4;
        color: map-get($color-map, 'clover');
        @include media-breakpoint-down($siteheader-breakpoint-variant) {
            font-size: rem-calc(20);
        }
    }

    &-menu-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &-menu {
        display: flex;
        justify-content: flex-end;
        gap: rem-calc(map-get($spacers, 3));

        @include media-breakpoint-up(lg) {
            gap: rem-calc(map-get($spacers, 6));
        }

        .nav-mobile-toggle,
        .siteheader-toggle {
            align-items: flex-start;
            margin-top: rem-calc(2);
            .icon {
                // color: map-get($color-map, 'clover');
                font-size: rem-calc(32);
            }

            @include media-breakpoint-up(md) {
                .icon {
                    font-size: rem-calc(20);
                }
            }

            @include media-breakpoint-up(xl) {
                .icon {
                    font-size: rem-calc(24);
                }
            }
        }
    }
}


/*
.siteheader {
    height: rem-calc(60);

    &-inner {
        padding-top: rem-calc(map-get($spacers, 1));
        padding-bottom: rem-calc(map-get($spacers, 1));
    }

    &-menu:first-child {
        display: none;
    }

    &-menu-wrap {
        justify-content: center;
    }

    &-brand-container {

        &.variant-small {
            padding: rem-calc(4);
            display: block;
        }
        &.variant-big {
            display: none;
        }
    }
}*/



/** Repositioning if scrolled down */
.page-content {
    position: relative;
    transition: top 0.5s ease-in-out;

    top: rem-calc($siteheader-height-mobile);
    @include media-breakpoint-up($siteheader-breakpoint-variant) {
        top: rem-calc($siteheader-height-desktop);
    }
}

.scroll-down {
    .siteheader {
        top: rem-calc($siteheader-height-mobile * -1);
        @include media-breakpoint-up($siteheader-breakpoint-variant) {
            top: rem-calc($siteheader-height-desktop * -1);
        }
    }
     .page-content{
        top: 0;
    }
}


