/* ==================================================
* Site-Header
* ================================================== */
@use 'sass:math';

.siteheader {

    position: fixed;
    top:0;
    left:0;
    z-index: 99;
    background-color: $color-white;
    transition: background-color 0.5s ease-in-out;
    width: 100%;
    max-width: 100vw;

    box-shadow: rem-calc(0) rem-calc(0) rem-calc(15) rem-calc(0) #63636340;

    &-inner {
        padding: rem-calc($spacer) rem-calc(math.div(strip-unit($spacer), 2));
    }

    &-brand {
        position:relative;

        &-link {
            display: block;
        }

        &-logo {
            position: relative;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;

            &-mobile-inverted {
                position: absolute;
                top: 0;
            }
        }
    }

    &-main {
        padding-top: rem-calc(20);
    }

    &-sub {
    }

    &-meta {
        justify-content: end;
        @include media-breakpoint-up(xl) {
            padding-top: rem-calc(0);
        }
    }
}

.flyout-open {
    .siteheader {
        position:absolute;
        background: $color-primary;

        &-brand {
            &-logo-mobile {
                opacity: 0 !important;
            }
            &-logo-mobile-inverted {
                opacity: 1 !important;
            }
        }

        .toggle {
            &-icon {
                color: $color-white;
                &.icon-hamburger {
                    margin-left: rem-calc(4);
                    margin-right: rem-calc(-4);
                }
            }
        }
    }
}
