/* ==================================================
* Site-Header
* ================================================== */
@use 'sass:math';

.siteheader {

    position: fixed;
    top:0;
    left:0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 1);
    transition: top 0.5s ease-in-out;

    width: 100%;
    height: rem-calc($siteheader-height-mobile);
    max-width: 100vw;
    box-shadow: rem-calc(0) rem-calc(0) rem-calc(15) rem-calc(0) #63636340;

    padding-top: rem-calc(map-get($spacers, 3)); // 16
    padding-bottom: rem-calc(map-get($spacers, 3)); // 16

    @include media-breakpoint-up($siteheader-breakpoint-variant) {
        height: rem-calc($siteheader-height-desktop);
        padding-top: rem-calc(map-get($spacers, 3)); // 16
        padding-bottom: rem-calc(map-get($spacers, 3)); // 16
    }

    &-brand {
        display: flex;
        height: 100%;

        &-container {
            height: 100%;

            &.variant-small {
                padding: rem-calc(map-get($spacers, 1));
                background-color: $color-primary;

                @include media-breakpoint-up($siteheader-breakpoint-variant) {
                    display: none;
                }
            }

            &.variant-big {
                height: calc(rem-calc($siteheader-height-desktop) - rem-calc(map-get($spacers, 4)) * 2);
                display: none;

                @include media-breakpoint-up($siteheader-breakpoint-variant) {
                    display: block;
                }
            }
        }

        &-logo {
            height: 100%;
        }

        &-link {
            display: inline-block;
            @include accessibility-outline($color: $color-outline);
        }
    }

    &-headline {
        @include h4;
        color: $color-primary;
        @include media-breakpoint-down($siteheader-breakpoint-variant) {
            font-size: rem-calc(20);
        }
    }

    &-menu-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &-menu {
        display: flex;
        justify-content: flex-end;
        gap: rem-calc(map-get($spacers, 3));

        @include media-breakpoint-up(lg) {
            gap: rem-calc(map-get($spacers, 6));
        }
    }

    .siteheader-toggle {
        align-items: center;
        margin-top: rem-calc(2);
        .icon {
            font-size: rem-calc(22);

            &.icon-hamburger {
                font-size: rem-calc(30);
            }
        }

        @include media-breakpoint-up(md) {
            align-items: flex-start;

            .icon {
                font-size: rem-calc(20);
            }
        }

        @include media-breakpoint-up(xl) {
            .icon {
                font-size: rem-calc(24);
            }
        }
    }
}



/** Repositioning if scrolled down */
.page-content {
    position: relative;
    transition: top 0.5s ease-in-out;

    top: rem-calc($siteheader-height-mobile);
    @include media-breakpoint-up($siteheader-breakpoint-variant) {
        top: rem-calc($siteheader-height-desktop);
    }
}

.scroll-down {
    .siteheader {
        top: rem-calc($siteheader-height-mobile * -1);
        @include media-breakpoint-up($siteheader-breakpoint-variant) {
            top: rem-calc($siteheader-height-desktop * -1);
        }
    }
     .page-content{
        top: 0;
    }
}


