/* ==================================================
* Stage / Stage-Slider
* ================================================== */

.stage {

    height: calc(80svh - $siteheader-height-mobile);
    @include media-breakpoint-up(sm) {
        height: calc(100svh - $siteheader-height-mobile);
    }

    @include media-breakpoint-up($siteheader-breakpoint-tablet) {
        height: calc(100svh - $siteheader-height-tablet);
    }

    @include media-breakpoint-up($siteheader-breakpoint-desktop) {
        height: calc(100svh - $siteheader-height-desktop);
    }

    &-inner {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    &-image {
        height: 100%;
        width: 100%;
        max-width: $page-max-width;
        margin: 0 auto;

        img {
            max-width: none;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &-content {
        position: relative;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;

        .cta-wrap {
            display: flex;
            justify-content: center;
        }

        &-nav {
            height: rem-calc(48);

            @include media-breakpoint-up(lg) {
                width: rem-calc(48);
            }

            &:first-child {
                display: none;
                @include media-breakpoint-up(lg) {
                    display: flex

                }

            }
        }

        &-main {
            padding-right: rem-calc(map-get($spacers, 5));
            padding-left: rem-calc(map-get($spacers, 5));

        }

        &-inner {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;

            justify-content: center;
            flex-direction: column;

            @include media-breakpoint-up(lg) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
