/* ==================================================
* Stage / Stage-Slider
* ================================================== */
.stage {
    position: relative;
    box-shadow:
        inset 0 -8px 10px -8px rgba(0,0,0,0.6);

    &:has(.stage-image) {
        height: calc(100svh);

        .stage-content {
            position: absolute;
            margin-top: 0;
        }
    }

    .headline {
        margin-top: rem-calc(map-get($spacers, 4));
        margin-bottom: rem-calc(map-get($spacers, 4));

        @include media-breakpoint-up(sm) {
            margin-top: rem-calc(map-get($spacers, 6));
            margin-bottom: rem-calc(map-get($spacers, 6));
        }
    }

    &-inner {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    &-image {
        height: 100%;
        width: 100%;
        max-width: $page-max-width;
        margin: 0 auto;

        img {
            max-width: none;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &-content {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        transition: margin-top 0.5s ease-in-out;

        margin-top: rem-calc($siteheader-height-mobile);
        @include media-breakpoint-up($siteheader-breakpoint-tablet) {
            margin-top: rem-calc($siteheader-height-tablet);
        }

        @include media-breakpoint-up($siteheader-breakpoint-desktop) {
            margin-top: rem-calc($siteheader-height-desktop);
        }

        &-main {
            padding-right: rem-calc(map-get($spacers, 5));
            padding-left: rem-calc(map-get($spacers, 5));
        }

        &-nav {
            display: none;
            @include media-breakpoint-up(lg) {
                display: flex
            }
        }

        &-inner {
            display: flex;
            width: 100%;
            height: 100%;
            max-width: rem-calc($page-max-inner-width);
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .cta-wrap {
                display: flex;
                justify-content: center;
            }

            &.orientation-left {
                align-items: flex-start;
            }

            &.orientation-right {
                align-items: flex-end;
            }

            @include media-breakpoint-up(lg) {
                flex-direction: row;
                justify-content: space-between;

                &.orientation-left {
                    align-items: center;
                    justify-content: flex-start;
                }

                &.orientation-right {
                    align-items: center;
                    justify-content: flex-end;
                }
            }
        }
    }

    &-slider {

        &:has(.swiper-navigation) {
            .stage-content-nav {
                display: flex;
                height: rem-calc(48);

                @include media-breakpoint-up(lg) {
                    width: rem-calc(48);
                }

                &:first-child {
                    display: none;
                    @include media-breakpoint-up(lg) {
                        display: flex
                    }
                }
            }
        }


        .swiper {
            .swiper-navigation {

                @include media-breakpoint-down(lg) {
                    bottom: rem-calc($spacer);
                    transform: translateX(-50%);
                }

                .cta-prev,
                .cta-next {

                    @include media-breakpoint-up($siteheader-breakpoint-desktop) {
                        position: relative;
                        top: rem-calc($siteheader-height-desktop);
                    }
                }
            }
        }
    }
}



.scroll-down {

    .stage-content {
        margin-top: 0;
    }
}
