/* ==================================================
* Text-Links
* ================================================== */

.text-links {

    position: relative;
    overflow-x:hidden;

    z-index: 20;
    @include media-breakpoint-up(lg) {
        &[data-appear-on-scroll="0"] {
            margin-top: rem-calc(map-get($spacers, 10) * -1);
        }
    }

    &-content {
        @include media-breakpoint-up(lg) {
            margin-top: rem-calc(map-get($spacers, 10));
        }
    }

    &-list-wrap {
        height: 100%;
        position: relative;
        background-color: var(--background-color);

        @include media-breakpoint-up(lg) {

            padding-top: rem-calc(map-get($spacers, 10));
            background-color: transparent;
            @include edge-cut-mask();

            &::after {
                content: "";
                position: absolute;
                inset: 0; // top: 0; right: 0; bottom: 0; left: 0
                width: 100vw;
                left: 100%;
                background-color: var(--background-color);
                z-index: -1;
            }
        }
    }

}
