@use 'sass:math';

// Bootstrap Mixins
@import "../../node_modules/bootstrap/scss/mixins";

// Projekt-Mixins & Konfiguration
@import "../../node_modules/@madj2k/fe-frontend-kit/sass/bootstrap-5.3/10_mixins";
@import "default/00_mixins/_import";
@import "default/10_config/_base";
@import "default/10_config/_colors";
@import "default/10_config/_font";
@import "default/10_config/_maps";
@import "default/20_basics/_cta";

body .klaro {
    // =========================================================================
    // CSS Custom Properties / Klaro Theme
    // =========================================================================

    --klaro-color-brand: var(--color-brand-primary);

    --klaro-color-background: var(--color-background);
    --klaro-color-context-background: var(--color-brand-secondary);
    --klaro-color-context-border: var(--color-brand-secondary);

    --klaro-color-text-inverted: var(--color-text-inverted);

    --klaro-color-button-text: var(--color-text-inverted);
    --klaro-color-button-text-hover: var(--color-text-inverted);
    --klaro-color-button-background: var(--color-brand-secondary);
    --klaro-color-button-background-hover: var(--color-brand-primary);

    --klaro-color-slider-background: var(--color-brand-secondary);
    --klaro-color-slider-background-active: var(--color-brand-primary);

    // Klaro internal variables
    --green1: #{var(--klaro-color-brand)};
    --green2: #{var(--klaro-color-brand)};
    --green3: #{var(--klaro-color-brand)};
    --font-family: #{var(--font-family-sans)};

    // =========================================================================
    // Base
    // =========================================================================

    &.cm-as-context-notice {
        padding: 0;
    }

    label {
        margin: 0;
    }

    // =========================================================================
    // Cookie Notice
    // =========================================================================

    .cookie-notice:not(.cookie-modal-notice) {
        @include copy-small;

        position: fixed;
        top: initial;
        right: rem-calc($spacer);
        bottom: rem-calc($spacer);
        left: initial;

        width: calc(100vw - (rem-calc($spacer) * 2));

        background-color: var(--klaro-color-background);
        border-color: var(--klaro-color-background);
        border-radius: rem-calc(4);

        @include media-breakpoint-up(lg) {
            max-width: rem-calc(800);
        }

        .cn-body {
            .cn-ok {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                gap: rem-calc(math.div($spacer, 2));
                margin-top: rem-calc($spacer);

                .cn-buttons {
                    display: flex;
                    gap: rem-calc(math.div($spacer, 2));
                    width: 100%;
                    margin-top: 0;

                    @include media-breakpoint-up(md) {
                        width: auto;
                    }
                }
            }
        }
    }

    // =========================================================================
    // Cookie Modal
    // =========================================================================

    .cookie-modal {
        .cm-modal {
            .cm-header h1.title {
                @include h3;
            }
        }

        .cm-header {
            @include copy;

            .title {
                @include h2;
            }
        }

        .cm-caret,
        .cm-list-description {
            @include copy-small;
        }

        .cm-list-title {
            @include h5;
            margin-bottom: 0;
        }

        .cm-footer-buttons {
            display: flex;
            flex-flow: column !important;
            justify-content: space-between;
            gap: rem-calc(math.div($spacer, 2));
            margin-top: rem-calc($spacer);

            @include media-breakpoint-up(md) {
                flex-flow: row !important;
            }

            .cm-btn {
                width: 100%;

                &:last-child {
                    order: -1;
                }

                @include media-breakpoint-up(md) {
                    width: max-content;

                    &:last-child {
                        order: 3;
                    }
                }
            }
        }
    }

    // =========================================================================
    // Context Notice
    // =========================================================================

    .context-notice {
        @include copy;

        background-color: var(--klaro-color-context-background);
        border-color: var(--klaro-color-context-border);
        border-radius: 0;
    }

    // =========================================================================
    // Shared Links
    // =========================================================================
    .cookie-notice,
    .cookie-modal {
        a:link,
        a:visited,
        a:hover {
            color: var(--klaro-color-text-inverted);
            line-height: rem-calc(32);
            text-align: center;
        }
    }

    // =========================================================================
    // Shared Buttons
    // =========================================================================
    .cookie-notice .cn-learn-more,
    .cookie-notice .cm-btn,
    .cookie-modal .cm-btn,
    .context-notice .cm-btn {
        @extend .cta;

        flex-grow: 1;
        width: max-content;
        height: rem-calc(48);
        margin-top: 0 !important;
        margin-right: 0 !important;
        padding: rem-calc(math.div($spacer, 2)) rem-calc($spacer);

        color: var(--klaro-color-button-text);
        background-color: var(--klaro-color-button-background) !important;
        background-image: none;
        border: 0;
        border-radius: var(--cta-border-radius);
        overflow: hidden;

        transition:
            color 0.3s ease-in-out,
            background-color 0.3s ease-in-out;

        &:hover:not(.disabled) {
            color: var(--klaro-color-button-text-hover);
            background-color: var(--klaro-color-button-background-hover) !important;
        }

        @include media-breakpoint-up(md) {
            flex-grow: 0 !important;
        }
    }

    // =========================================================================
    // Button Variants
    // =========================================================================

    .context-notice .cm-btn.cm-btn-success-var,
    .cookie-notice .cm-btn.cm-btn-success-var,
    .cookie-modal .cm-btn.cm-btn-success-var,
    .cookie-modal .cm-btn.cm-btn-accept,
    .cookie-modal .cm-btn.cm-btn-decline {
        color: var(--klaro-color-button-text);
        background-color: var(--klaro-color-button-background) !important;

        &:hover:not(.disabled) {
            color: var(--klaro-color-button-text-hover);
            background-color: var(--klaro-color-button-background-hover) !important;
        }
    }

    // =========================================================================
    // Slider / Toggle Styles
    // =========================================================================
    .context-notice .cm-list-label .slider,
    .cookie-notice .cm-list-label .slider,
    .cookie-modal .cm-list-label .slider {
        background-color: var(--klaro-color-slider-background);
        opacity: 0.6;
    }

   .cookie-modal .cm-list-input:checked + .cm-list-label .slider,
   .context-notice .cm-list-input:checked + .cm-list-label .slider,
   .cookie-notice .cm-list-input:checked + .cm-list-label  .slider {
       background-color: var(--klaro-color-slider-background-active);
       opacity: 1;
   }

    // =========================================================================
    // Tables
    // =========================================================================

    .klaro-table {
        margin-top: rem-calc($spacer);
    }

    // =========================================================================
    // Hidden Elements
    // =========================================================================

    .purposes {
        display: none;
    }
}
