/* ==================================================
* Page
* ================================================== */

@include page-padding(
    $page-padding: $page-padding,
    $page-wrap-class: '.page',
    $wrap-class: '.fullwidth',
    $default-padding: $spacer,
);

