/* ==================================================
* Page
* ================================================== */

@include page-padding(
    $page-padding: $page-padding,
    $page-wrap-class: '.page-content',
    $wrap-class: '.fullwidth',
    $default-padding: $spacer,
    $padding-class: '.page'
);

