/* ==================================================
* Basic variables
* ================================================== */
// spacing
$spacer : 16px;
$grid-gutter-width: 16px;
$grid-gutter-width-mobile: 20px; // custom setting
$page-max-width: 1920px;
$page-max-inner-width: 1440px;

$siteheader-height-desktop: 120px;
$siteheader-breakpoint-desktop: xl;
$siteheader-height-tablet: 100px;
$siteheader-breakpoint-tablet: sm;
$siteheader-height-mobile: 80px;

$icon-heart: unquote('"\\e90d"');
$icon-facebook: unquote('"\\e900"');
$icon-close: unquote('"\\e901"');
$icon-instagram: unquote('"\\e902"');
$icon-reload: unquote('"\\e903"');
$icon-tiktok: unquote('"\\e904"');
$icon-youtube: unquote('"\\e907"');
$icon-search: unquote('"\\e908"');
$icon-hamburger: unquote('"\\e909"');
$icon-arrow-right1: unquote('"\\e90a"');
$icon-arrow-down: unquote('"\\e90b"');
$icon-arrow-up: unquote('"\\e90c"');
$icon-arrow-right: unquote('"\\e905"');
$icon-arrow-left: unquote('"\\e906"');
