/* ==================================================
* Basic variables
* ================================================== */
// spacing
$spacer : 16px;
$grid-gutter-width: 16px;
$grid-gutter-width-mobile: 20px; // custom setting
$page-max-width: 1920px;
$page-max-inner-width: 1440px;

$siteheader-breakpoint-variant: xl;
$siteheader-height-desktop: 180px;
$siteheader-height-mobile: 100px;

$icon-close: unquote('"\\e901"');
$icon-youtube: unquote('"\\e902"');
$icon-facebook: unquote('"\\e903"');
$icon-instagram: unquote('"\\e904"');
$icon-arrow-right: unquote('"\\e905"');
$icon-arrow-left: unquote('"\\e906"');
$icon-arrow-down: unquote('"\\e907"');
$icon-arrow-up: unquote('"\\e908"');
$icon-hamburger: unquote('"\\e909"');
$icon-search: unquote('"\\e90a"');

