/* ==================================================
* Form
* ================================================== */
@use 'sass:math';

.form {
    --form-color-label: var(--color-text-default);
    --form-color-label-invalid: var(--color-feedback-error);

    --form-color-text: var(--color-text-default);

    --form-color-border: var(--color-border-default);
    --form-color-border-active: var(--color-border-strong);
    --form-color-border-invalid: var(--color-feedback-error);

    --form-color-background: var(--color-surface-default);
    --form-color-addon-background: var(--color-surface-default);

    --form-color-feedback: var(--color-feedback-error);

    --form-check-color-background: var(--color-brand-secondary);
    --form-check-color-border: var(--color-brand-secondary);
    --form-check-color-background-active: var(--color-brand-primary);
    --form-check-color-border-active: var(--color-brand-primary);

    &-element {
        position: relative;
        margin-bottom: map-get($spacers, 2);
        align-items: end;

        .h-captcha {
            line-height: 0;
        }

        .invalid-feedback {
            @include copy-small;
            color: var(--form-color-feedback);
            font-weight: $font-weight-bold;
            margin-left: rem-calc(14);
            display: block;
            margin-bottom: rem-calc($spacer);
        }

        &:has(.form-check-input) {
            &.is-invalid {
                .invalid-feedback {
                    margin-left: rem-calc(25);
                }

                .form-check-field:before {
                    border: rem-calc(1) solid var(--form-color-border-invalid);
                }
            }
        }

        &.is-invalid {
            .form-label {
                color: var(--form-color-label-invalid);
                font-weight: $font-weight-bold;
            }

            .form-control {
                border-color: var(--form-color-border-invalid);
            }
        }

        &.label-as-placeholder {
            .form-label {
                @include copy;
                position: absolute;
                left: rem-calc(16);
                top: 50%;
                transform: translateY(-40%);
                z-index: 49;
            }

            .form-select,
            .form-control {
                &::placeholder {
                    color: transparent;
                }
            }

            &:not(:has(.select2)):not(:has(.form-control:__ph-shown__)),
            &:has(.select2-selection--single):not(:has(.select2-selection__placeholder)),
            &:has(.select2-selection--multiple):has(.select2-selection__choice) {
                .form-label {
                    @include copy-small;
                    position: static;
                    z-index: 51;
                }
            }
        }

        &:has(.select2--single):has(.select2-selection__placeholder),
        &:has(.select2-container--open) {
            .form-label {
                visibility: hidden;
            }
        }
    }

    &-element-gridrow,
    &-element-fieldset {
        margin-bottom: 0;
    }

    &-label {
        @include copy-small;
        color: var(--form-color-label);
        display: block;
        margin-bottom: rem-calc(math.div($spacer, 2));
    }

    &-select,
    &-control {
        @include copy;
        @include accessibility-outline();

        line-height: 1rem;
        color: var(--form-color-text);

        border: rem-calc(1) solid var(--form-color-border);
        border-radius: rem-calc(0);
        background-color: var(--form-color-background);

        margin-bottom: 0;
        padding: rem-calc(16) rem-calc(16) rem-calc(12) rem-calc(16);

        display: block;
        width: 100%;

        &:active {
            border-color: var(--form-color-border-active);
        }

        &:focus,
        &:focus-visible {
            border: rem-calc(1) solid var(--form-color-border-active);
            outline: 0;
            box-shadow: none;
        }

        &:focus-visible {
            border-color: transparent;
            @include accessibility-outline($color: var(--color-outline-accessibility));
        }

        &.error {
            border-color: var(--form-color-border);
        }
    }

    &-check {
        padding-left: 0;

        &-wrapping-label {
            display: flex;
        }

        a {
            @include link;
            @include copy-small;
            font-size: initial;
        }

        .form-check-field:has(input[type="checkbox"]) {
            @include checkbox(
                $size: 16px,
                $default-bg-color: var(--form-check-color-background),
                $default-border-color: var(--form-check-color-border),
                $default-icon: null,
                $active-bg-color: var(--form-check-color-background-active),
                $active-border-color: var(--form-check-color-border-active),
                $active-icon: '../Images/input-radio-active.svg'
            );
            @include accessibility-outline($color: var(--color-outline-accessibility));
        }

        .form-check-field:has(input[type="radio"]) {
            @include radio(
                $size: 16px,
                $default-bg-color: var(--form-check-color-background),
                $default-border-color: var(--form-check-color-border),
                $default-icon: null,
                $active-bg-color: var(--form-check-color-background-active),
                $active-border-color: var(--form-check-color-border-active),
                $active-icon: '../Images/input-radio-active.svg'
            );
            @include accessibility-outline($color: var(--color-outline-accessibility));
        }

        .form-check-label {
            @include copy-small;
        }
    }

    .input-group {
        border: rem-calc(1) solid transparent;
        border-radius: rem-calc(4);

        &:has(.form-control:active),
        &:has(.form-select:active) {
            border: rem-calc(1) solid var(--form-color-border-active);
        }

        &:has(.form-control:focus),
        &:has(.form-select:focus) {
            border: rem-calc(1) solid var(--form-color-border-active);

            .form-control:focus,
            .form-select:focus {
                border-color: transparent;
            }
        }

        &:has(.form-control:focus-visible),
        &:has(.form-select:focus-visible) {
            @include accessibility-outline($color: var(--color-outline-accessibility));
            border-color: transparent;

            .form-control:focus-visible,
            .form-select:focus-visible {
                outline: 0;
            }
        }

        &-text {
            position: relative;
            background-color: var(--form-color-addon-background);
            border-left: 0;
            border-radius: 0;
            font-size: rem-calc(18);

            @include accessibility-outline($color: var(--color-outline-accessibility));

            &:focus-visible {
                position: relative;
                margin-left: inherit !important;
                border-top-left-radius: inherit !important;
                border-bottom-left-radius: inherit !important;
            }
        }
    }
}

textarea.form-control {
    min-height: rem-calc(200);
}
