/* ==================================================
* Tile
* ================================================== */
.tile-wrap {
    display:flex;
    gap: rem-calc(20);
    flex-wrap: wrap;

    .tile {
        width: auto;
        flex-basis: 100%;
        @include media-breakpoint-up(sm) {
            @include flex-basis(2, rem-calc(20));
        }

        @include media-breakpoint-up(md) {
            @include flex-basis(3, rem-calc(20));
        }

        @include media-breakpoint-up(xl) {
            @include flex-basis(4, rem-calc(20));
        }
    }
}

.tile {

    &:hover {
        .tile-image {
            img {
                transform: scale(1.05);
            }
        }
    }

    &-inner {
        background-color: $color-white;
       // height: rem-calc(500);
        width: rem-calc(450);
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: rem-calc(map-get($spacers, 4));
    }

    &-image {
        width: 100%;
        // height: rem-calc(300);
        overflow: hidden;
        margin: 0;

        img {
          //  aspect-ratio: 1/1;
            object-fit: cover;
            width: 100%;
            transition: transform 0.5s ease-in-out;
        }

        img[src$=".svg"] {
            height: 100%;
        }
    }

    &-body {
        color: $color-text;
        padding: rem-calc(map-get($spacers,3));
        padding-top: rem-calc(map-get($spacers,5));
    }

    &-category {
        @include copy-small;
        display:block;
        padding-bottom: rem-calc($spacer);
        margin-top: rem-calc(map-get($spacers, 2) * -1);
    }

    &-header {
        .headline {
            @include hyphenate;
        }
    }

    &-text {
        @include copy-small;
        color: $color-text;
    }

    &-footer {
        padding: 0 rem-calc(map-get($spacers, 3)) 0;
        color: $color-text;
    }
}
