/* ==================================================
* Toggle list
* ================================================== */
.toggle-list {
    @include toggle-list(
        $padding-y: $spacer,
        $border-color: $color-primary,
        $border-size: 1px,
        $font-color: $color-secondary,
        $font-color-active: $color-primary,
        $icon-size: 30px,
        $icon-style: $icon-arrow-right
    );

    &-link {
        @include h4;
    }
}

[class^="bg-color-"]:not([class^="bg-color-light"]):not([class^="bg-color-none"]):not([class^="bg-color-white"]),
[class*=" bg-color-"]:not([class*=" bg-color-light"]):not([class*=" bg-color-none"]):not([class*=" bg-color-white"])  {
    .toggle-list {

        &-item {
            border-bottom: rem-calc(1) solid $color-white;
        }

        &-link {
            &:link,
            &:visited,
            &:hover {
                color: $color-white;
            }

            &:hover,
            &.active,
            &[aria-expanded="true"] {
                color: $color-white;

                &::after {
                    color: $color-white;
                }
                .icon {
                    color: $color-white;
                }
            }
        }
    }
}


/**
 * For usage in text-editor!
 */
@keyframes arrow-animation {
    0% {left: 0; opacity: 1}
    25% {left: 0; opacity: 0}
    26% {left: -20px; opacity: 0;}
    100% { left: 0; opacity: 1}
}

.toggle-list {

    li {
        padding: rem-calc(8) 0;
    }

    a,
    .link {
        &::after {
            @include media-breakpoint-up(xl) {
                font-size: rem-calc(40);
            }
        }

        &:hover {
            &::after {
                position: relative;
                padding-left:rem-calc(30);
                margin-left: rem-calc(-30) !important;
                animation: arrow-animation 0.8s;
            }
        }
    }
}

