/******************************************
	Color classes
******************************************/

/* Explicit palette-based classes */
.bg-color {

    &-default {
        background-color: var(--color-surface-default);
    }

    &-subtle {
        background-color: var(--color-surface-subtle);
    }

    &-accent {
        background-color: var(--color-surface-accent);
    }

    &-dark {
        background-color: var(--color-surface-dark);
    }

    &-strong {
        background-color: var(--color-surface-strong);
    }

    &-primary {
        background-color: var(--color-brand-primary);
    }

    &-secondary {
        background-color: var(--color-brand-secondary);
    }
}

.bg-color-variable {

    &-default {
        --background-color: var(--color-surface-default);
    }

    &-subtle {
        --background-color: var(--color-surface-subtle);
    }

    &-accent {
        --background-color: var(--color-surface-accent);
    }

    &-dark {
        --background-color: var(--color-surface-dark);
    }

    &-strong {
        --background-color: var(--color-surface-strong);
    }

    &-primary {
        --background-color: var(--color-brand-primary);
    }

    &-secondary {
        --background-color: var(--color-brand-secondary);
    }
}

.text-color {

    &-default {
        color: var(--color-text-default) !important;

        & > * {
            color: var(--color-text-default) !important;
        }
    }

    &-subtle {
        color: var(--color-text-subtle) !important;

        & > * {
            color: var(--color-text-subtle) !important;
        }
    }

    &-inverted {
        color: var(--color-text-inverted) !important;

        & > * {
            color: var(--color-text-inverted) !important;
        }
    }

    &-primary {
        color: var(--color-brand-primary) !important;

        & > * {
            color: var(--color-brand-primary) !important;
        }
    }

    &-secondary {
        color: var(--color-brand-secondary) !important;

        & > * {
            color: var(--color-brand-secondary) !important;
        }
    }
}

.text-color-variable {

    &-default {
        --color: var(--color-text-default);

        & > * {
            --color: var(--color-text-default);
        }
    }

    &-subtle {
        --color: var(--color-text-subtle);

        & > * {
            --color: var(--color-text-subtle);
        }
    }

    &-inverted {
        --color: var(--color-text-inverted);

        & > * {
            --color: var(--color-text-inverted);
        }
    }

    &-primary {
        --color: var(--color-brand-primary);

        & > * {
            --color: var(--color-brand-primary);
        }
    }

    &-secondary {
        --color: var(--color-brand-secondary);

        & > * {
            --color: var(--color-brand-secondary);
        }
    }
}
