/******************************************
	Button
******************************************/
.cta {
    color: $color-white;
    background-color: map-get($color-map, 'pine');
    transition: background-color 0.5s, color 0.5s;
    border:0;
    display: inline-block;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

    span {
        pointer-events: none; // prevent JS-events
    }

    .icon {
        font-size: rem-calc(32);
    }

    &-default,
    &-inverted,
    &-white,
    &-icon-only {
        @include button;

        @include accessibility-outline($color-outline);

        border: 0;
        border-radius: rem-calc(72);
        padding: rem-calc(12) rem-calc(20);
        text-decoration: none;

        &.disabled {
            background-color: map-get($color-map, 'grey-300') !important; // needed for OWL
            color: map-get($color-map, 'white');
        }
    }

    &:hover:not(.disabled) {
        color: map-get($color-map, 'pine-900');
        background-color: map-get($color-map, 'sun');
        text-decoration: none;
    }

    &-inverted {
        background-color: map-get($color-map, 'sun');
        color: map-get($color-map, 'pine-900');

        &:hover:not(.disabled)  {
            background-color: map-get($color-map, 'pine');
            color: map-get($color-map, 'white');
        }
    }

    &-white {
        background-color: map-get($color-map, 'white');
        color: map-get($color-map, 'pine-900');

        &:hover:not(.disabled)  {
            background-color: map-get($color-map, 'sun');
            color: map-get($color-map, 'pine-900');
        }
    }

    &-icon-only {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: inherit;

        width: rem-calc(36);
        height: rem-calc(36);

        @include media-breakpoint-up(sm) {
            width: rem-calc(48);
            height: rem-calc(48);
        }

        color: $color-white;
        background-color: map-get($color-map, 'pine');
        border: rem-calc(1) solid transparent;
        padding: 0;

        &:hover:not(.disabled){
            color: map-get($color-map, 'pine-900');
            background-color: map-get($color-map, 'sun');
            border: rem-calc(1) solid map-get($color-map, 'grey-300');
        }
    }

    &-icon-only-white {
        color: map-get($color-map, 'pine-900');
        background-color: $color-white;
        border: rem-calc(1) solid transparent;

        &:hover:not(.disabled) {
            background-color: map-get($color-map, 'sun');
        }
    }
}

[class^="bg-color-dark"],
[class*=" bg-color-dark"]  {



}
/*
[class^="bg-color-"]:not([class^="bg-color-light"]):not([class^="bg-color-none"]):not([class^="bg-color-white"]),
[class*=" bg-color-"]:not([class*=" bg-color-light"]):not([class*=" bg-color-none"]):not([class*=" bg-color-white"])  {
    .cta {
        &:hover {
            color: $color-secondary;
            background-color: $color-white;

            &.cta-default {
                .cta-inner {
                    border: rem-calc(1) solid $color-secondary;
                }
            }
        }
    }
}
*/


