/* ==================================================
* Effects
* ================================================== */

.effect-skewed-text {
    display: inline-block;
    // background-color: $color-primary;
    padding: rem-calc(map-get($spacers, 1)) rem-calc(map-get($spacers, 4));
    transform: skewX(-12deg);

    span {
        transform: skewX(12deg); // Gegenskew für Text
        display: inline-block;
        // color: $color-white;
    }

    @include media-breakpoint-up(lg) {
        padding: rem-calc(12) rem-calc(32);
    }
}
