/* ==================================================
* Hero
* ================================================== */
.hero {
    --hero-color-background: var(--color-surface-subtle);
    --hero-color-text: var(--color-heading-default);

    &-primary,
    &-secondary {
        @extend .effect-skewed-text;
        position: relative;
        z-index: 2;
        background-color: var(--hero-color-background);
        color: var(--hero-color-text);
        padding: 0 rem-calc(8);

        /*@include media-breakpoint-up(sm) {
            padding-top: rem-calc(18);
        }*/

        @include media-breakpoint-up(sm) {
            padding: 0 rem-calc(16);
        }
    }

    &-secondary {
        z-index: 1;
        margin-top: rem-calc(map-get($spacers, 1) * -1);
        margin-left: rem-calc(map-get($spacers, 4));
    }
}

@supports (font: -apple-system-body) {
    .hero {

        &-primary,
        &-secondary {
            padding-top: rem-calc(6);

            @include media-breakpoint-up(sm) {
                padding-top: rem-calc(6);
            }

            @include media-breakpoint-up(lg) {
                padding-top: rem-calc(10);
            }
        }
    }
}
