/******************************************
	Images
******************************************/
figcaption {
    @include copy-small;
    margin-top: 1em;
    padding-left: rem-calc($spacer);
    padding-right: rem-calc($spacer);
}

.img {
    position: relative;
	margin-bottom: 0;
	display: inline-block;

    &-inner {
        height:100%;
        width:100%;
    }

    &-source {
        position: absolute;
        right: rem-calc($spacer);
        bottom: rem-calc($spacer);
        color: var(--color-text-default);
        background-color: var(--color-surface-default);
        font-size: rem-calc(14);
        line-height: 100%;
        padding: rem-calc(4);
        opacity: 0.5;
    }

    &.fit-contain,
    &.fit-cover {
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &.fit-contain {
        img {
            object-fit: contain;
        }
    }


    img {
		max-width: 100vw;
        width: 100%
	}

	// bring SVGs to fit max-width
    img[src$=".svg"] {
        height: auto;
        max-width: 100%;
    }
}
