/******************************************
	Links
******************************************/
a {
    @include accessibility-outline();
}

.link-wrap,
.link-wrap:link,
.link-wrap:visited,
.link-wrap:hover {

    text-decoration: none;
    color: inherit;
}

.link-wrap:hover {

    text-decoration: none;
    color: inherit;

    .cta {
        color: map-get($color-map, 'pine-900');
        background-color: map-get($color-map, 'sun');

        &-inverted {
            background-color: map-get($color-map, 'pine');
            color: $color-white;
        }
    }

    .link {
        text-decoration: underline;
    }
}

/*
[class^="bg-color-"]:not([class^="bg-color-light"]):not([class^="bg-color-none"]):not([class^="bg-color-white"]),
[class*=" bg-color-"]:not([class*=" bg-color-light"]):not([class*=" bg-color-none"]):not([class*=" bg-color-white"])  {
    .link-wrap,
    .link-wrap:link,
    .link-wrap:visited,
    .link-wrap:hover {
        &:hover {
            .cta {
                color: $color-secondary;
                background-color: $color-white;

                &.cta-default {
                    .cta-inner {
                        border: rem-calc(1) solid $color-white;
                    }
                }
            }
        }
    }
}*/


.link {
    @include link;
    color: $color-secondary;
    text-decoration: none;
}

.link,
.link-headline {
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }

    &-fax,
    &-phone {
        color: inherit;
        // pointer-events: none;
        // cursor: default;
    }

    // used by BE-Editor (RichTextEditor)
    /*
	&-rte {
		&-internal {
		}

		&-external {
		}

		&-download {
		}

		&-email {
		}

		&-phone {
		}
	}*/
}

.link-headline {
    color: inherit;
    text-decoration: none;
}

/*
[class^="bg-color-"]:not([class^="bg-color-light"]):not([class^="bg-color-none"]):not([class^="bg-color-white"]),
[class*=" bg-color-"]:not([class*=" bg-color-light"]):not([class*=" bg-color-none"]):not([class*=" bg-color-white"])  {
    .link,
    .link-headline {
        text-decoration:none;
        &:hover {
            text-decoration: underline;
        }
        &:before {
            width: 0;
        }
    }
}*/
