/******************************************
	Links
******************************************/
a {
    @include accessibility-outline(var(--color-outline-accessibility));
}

.link-wrap,
.link-headline,
.link {
    --link-color-text: var(--color-brand-secondary);
    --link-color-text-hover: var(--color-brand-secondary);
    --link-color-text-wrap: inherit;
    --link-color-text-headline: inherit;
}


.link-wrap,
.link-wrap:link,
.link-wrap:visited,
.link-wrap:hover {
    text-decoration: none;
    color: var(--link-color-text-wrap);
}

.link-wrap:hover {
    text-decoration: none;
    color: var(--link-color-text-wrap);

    .cta {
        color: var(--cta-color-text-hover);
        background-color: var(--cta-color-background-hover);

        &-inverted {
            color: var(--cta-color-text-hover-inverted);
            background-color: var(--cta-color-background-hover-inverted);
        }
    }

    .link {
        text-decoration: underline;
    }
}

.link {
    @include link;
    color: var(--link-color-text);
    text-decoration: none;
}

.link,
.link-headline {
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }

    &-fax,
    &-phone {
        color: inherit;
    }
}

.link-headline {
    color: var(--link-color-text-headline);
    text-decoration: none;
}
