/******************************************
 OWL- Slider
******************************************/
@use 'sass:math';

.owl-carousel  {

    .img {
        display: block;
    }

    .link-wrap {
        &:focus-visible {
            outline: rem-calc(2) solid $color-outline;
            outline-style: solid;
            outline-offset: rem-calc(-2);
            outline-width: rem-calc(2);
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 0;
        width: 100%;

        display: flex;
        gap: rem-calc(math.div(strip-unit($grid-gutter-width), 2));
        justify-content: center;
        margin-bottom: rem-calc(map-get($spacers, 3));

        @include media-breakpoint-up(lg) {
            margin-top: 0;
            margin-bottom: rem-calc(map-get($spacers, 5));
        }
    }

    button.owl-dot {
        width:  rem-calc($spacer);
        height: rem-calc($spacer);
        border-radius: rem-calc($spacer);
        background-color: $color-white;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

        @include accessibility-outline();

        &.active {
            background-color: map-get($color-map, 'sun');
        }
    }


    .owl-nav {
        position: absolute;
        left: 50%;
        bottom: rem-calc($spacer);
        transform: translateX(-50%);
        width: 100%;
        max-width: rem-calc($page-max-inner-width);
        display: flex;
        justify-content: space-between;

        @extend .page-padding-full;

        @include media-breakpoint-up(lg) {
            bottom: 50%;
            transform: translateX(-50%) translateY(-40%);
        }


        .owl-prev,
        .owl-next {

            @extend .cta;
            @extend .cta-icon-only;
            @extend .icomoon;

            @include accessibility-outline();


            span {
                display: none;
            }
        }

        .owl-prev   {
            @extend .icon-arrow-left;
        }

        .owl-next {
            @extend .icon-arrow-right;
        }
    }
}


