/* ==================================================
* Quote
* ================================================== */
.quote {
    --quote-color-text: var(--color-text-subtle);
    --quote-color-text-before: var(--color-surface-strong);
    --quote-color-text-cite: var(--color-text-subtle);

    @include h2;
    position: relative;
    margin: 0;
    padding-left: rem-calc(50);
    color: var(--quote-color-text);

    @include media-breakpoint-up(md) {
        padding-left: rem-calc(80);
    }

    @include media-breakpoint-up(lg) {
        padding-left: rem-calc(80);
    }

    &-inner {
        display: inline;

        ::before {
            content: "“";
            position: absolute;
            top: rem-calc(20);
            left: 0;
            font-size: rem-calc(80);
            color: var(--quote-color-text-before);

            @include media-breakpoint-up(md) {
                top: rem-calc(40);
                font-size: rem-calc(150);
            }

            @include media-breakpoint-up(lg) {
                top: rem-calc(40);
                font-size: rem-calc(150);
            }
        }

        p {
            display: inline;
        }
    }

    &-cite {
        @include h4;
        color: var(--quote-color-text-cite);
        font-style: normal;
        display: inline;

        p {
            display: contents;
        }

    }
}
