/* ==================================================
* Toggle list
* ================================================== */
.toggle-list {
    @include toggle-list(
        $padding-y: $spacer,
        $border-color: $color-primary,
        $border-size: 1px,
        $font-color: $color-primary,
        $font-color-active: $color-primary,
        $icon-size: 30px,
        $icon-style: ''
    );

    &-link {
        @include h4;
        line-height: 100%;
    }

    .toggle-text {
        position: relative;
        top:3px;
    }
}
/*
[class^="bg-color-"]:not([class^="bg-color-light"]):not([class^="bg-color-none"]):not([class^="bg-color-white"]),
[class*=" bg-color-"]:not([class*=" bg-color-light"]):not([class*=" bg-color-none"]):not([class*=" bg-color-white"])  {
    .toggle-list {

        &-item {
            border-bottom: rem-calc(1) solid $color-white;
        }

        &-link {
            &:link,
            &:visited,
            &:hover {
                color: $color-white;
            }

            &:hover,
            &.active,
            &[aria-expanded="true"] {
                color: $color-white;

                &::after {
                    color: $color-white;
                }
                .icon {
                    color: $color-white;
                }
            }
        }
    }
}
*/
