/* ==================================================
* Toggle list
* ================================================== */
.toggle-list {
    @include toggle-list(
        $padding-y: $spacer,
        $border-color: $color-primary,
        $border-size: 1px,
        $font-color: inherit,
        $font-color-active: inherit,
        $font-color-hover: inherit,
        $icon-size: 20px,
        $icon-style: $icon-arrow-right,
        $icon-color: $color-primary,
        $icon-color-active: $color-primary,
        $icon-color-hover: $color-secondary
    );

    &-link {
        @include toggle-list-text;
        align-items: end;

        &::after {
            //WTF? padding-bottom: rem-calc(xl);
            @include media-breakpoint-up(lg) {
                padding-bottom: rem-calc(4);
            }
        }

        .icon {
            @include media-breakpoint-up(lg) {
                font-size: rem-calc(30)
            }
        }

        .toggle-list-text {
            pointer-events: all;
            @include text-marker();
        }

        &:hover {
            .toggle-list-text:before {
                width: 100%;
            }
        }

        &.active {
            .toggle-list-text {
                font-weight: bold;
            }
        }
    }
}


[class^="bg-color-dark"],
[class*=" bg-color-dark"]  {
    .toggle-list {

        &-item {
            border-bottom: rem-calc(1) solid $white;
        }

        &-link {
            color: $color-white;

            &::after,
            .icon {
                color: $color-white;
            }

            &.active,
            &[aria-expanded="true"] {
                color: $color-white;

                &::after,
                .icon {
                    color: $color-white;
                }
            }

            &:hover{
                color: $color-white;

                &::after,
                .icon {
                    color: $color-white;
                    pointer-events: none;
                }

                .toggle-list-text {
                    text-decoration: underline;
                }
            }

            .toggle-list-text {
                &:hover {
                    text-decoration: underline;
                }
                &:before {
                    display: none;
                }
            }
        }
    }
}

