/* ==================================================
* Toggle list
* ================================================== */
.toggle-list {
    @include toggle-list(
        $padding-y: $spacer,
        $border-color: $color-secondary,
        $border-size: 1px,
        $font-color: inherit,
        $font-color-active: inherit,
        $font-color-hover: inherit,
        $icon-size: 20px,
        $icon-style: '',
        $icon-color: $color-primary,
        $icon-color-active: $color-primary,
        $icon-color-hover: $color-secondary
    );

    &-link {
        @include toggle-list-text;

        .icon {
            @include media-breakpoint-up(lg) {
                font-size: rem-calc(30)
            }
        }

        .toggle-list-text {
            pointer-events: all;
            @include text-marker();
        }

        &:hover {
            .toggle-list-text:before {
                width: 100%;
            }
        }

        &.active {
            .toggle-list-text {
                font-weight: bold;
            }
        }
    }
}

/*
[class^="bg-color-"]:not([class^="bg-color-light"]):not([class^="bg-color-none"]):not([class^="bg-color-white"]),
[class*=" bg-color-"]:not([class*=" bg-color-light"]):not([class*=" bg-color-none"]):not([class*=" bg-color-white"])  {
    .toggle-list {

        &-item {
            border-bottom: rem-calc(1) solid $color-white;
        }

        &-link {
            &:link,
            &:visited,
            &:hover {
                color: $color-white;
            }

            &:hover,
            &.active,
            &[aria-expanded="true"] {
                color: $color-white;

                &::after {
                    color: $color-white;
                }
                .icon {
                    color: $color-white;
                }
            }
        }
    }
}
*/
