/* ==================================================
* Toggles
* ================================================== */
.toggle-group {
    @include toggle-group(
        $gap: $spacer
    )
}

.toggle {
    @include toggle(
        $icon-size: 20px,
        $icon-color: $color-primary,
        $icon-mappings: (
            "icon-hamburger": $icon-close,
            "icon-arrow-down": $icon-arrow-up
        )
    );

    @include accessibility-outline($color: $color-outline);
}
