/* ==================================================
* Typography
* ================================================== */
@font-face {
    font-family: 'PT Sans';
    src: url('../Fonts/ptsans-regular.woff2') format('woff2'),
         url('../Fonts/ptsans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../Fonts/ptsans-bold.woff2') format('woff2'),
         url('../Fonts/ptsans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GrueneType Neue';
    src: url('../Fonts/gruenetype.woff2') format('woff2'),
         url('../Fonts/gruenetype.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    @include copy;
    color: $color-text;
}


/*
.subheader-1 {
    @include subheader-1;
    margin-bottom: rem-calc(12);
}

.subheader-2 {
    @include subheader-2;
    margin-bottom: rem-calc(12);
}

.subheader-3 {
    @include subheader-3;
    margin-bottom: rem-calc(12);
}
*/

h1,
.h1 {
    @include h1;
    color: $color-primary;
    margin-bottom: rem-calc(map-get($spacers, 4));
    @include media-breakpoint-up(sm) {
        margin-bottom: rem-calc(map-get($spacers, 6));
    }
}

h2,
.h2 {
    @include h2;
    color: $color-primary;
    margin-bottom: rem-calc(map-get($spacers, 1));
    @include media-breakpoint-up(sm) {
        margin-bottom: rem-calc(map-get($spacers, 4));
    }
}

h3,
.h3 {
    @include h3;
    color: $color-primary;
    margin-bottom: rem-calc(map-get($spacers, 1));
}

h4,
.h4 {
    @include h4;
    color: $color-primary;
    margin-bottom: rem-calc(map-get($spacers, 1));
}

h5,
.h5 {
    @include h5;
    color: $color-primary;
    margin-bottom: rem-calc(map-get($spacers, 1));
}

.hero {
    @include hero;
    color: $color-primary;
}

.hero-menu {
    @include hero-menu;
    color: $color-primary;
}

.toggle-list-text {
    @include toggle-list-text;
}

.copy {
    @include copy;
}

.copy-small {
    @include copy-small;
}

/*
[class^="bg-color-"]:not([class^="bg-color-light"]):not([class^="bg-color-none"]):not([class^="bg-color-white"]),
[class*=" bg-color-"]:not([class*=" bg-color-light"]):not([class*=" bg-color-none"]):not([class*=" bg-color-white"])  {
    .headline,
    .overline,
    .subheader,
    .link {
        color: $color-white;
    }

    color: $color-white;
}

[class^="bg-color-light"],
[class*=" bg-color-light"] {
    .headline,
    .overline,
    .subheader,
    .link {
        color: $color-text;
    }
}
*/

p {
    margin-bottom: 0;

    + p {
        margin-top: map-get($spacers, 4);
    }
}

.ol,
.ul {
    list-style: none;
    padding-left: rem-calc(22);
    @include media-breakpoint-up(sm) {
        padding-left: rem-calc(28);
    }

    li {

        @include copy;
        padding-left: 0;
        position: relative;

        + li {
            margin-top: 0;
            @include media-breakpoint-up(sm) {
                margin-top: rem-calc(map-get($spacers, 1));
            }
        }

        &::before {
            content: '';

            position: absolute;
            left: -22px;
            display: inline-block;

            @include media-breakpoint-up(sm) {
                left: -28px;
            }
        }
    }
}


.ol {
    counter-reset: my-counter;
    li {
        counter-increment: my-counter;

        &::before {
            content:  counter(my-counter) ". ";
            color: map-get($color-map, 'pine');
            font-weight: bold;
        }
    }
}


.ul {
    li {
        &::before {
            background-color: map-get($color-map, 'pine');
            top: rem-calc(6);

            width: rem-calc(12);
            height:  rem-calc(12);

            @include media-breakpoint-up(sm) {
                top: rem-calc(7);
                width: rem-calc(14);
                height:  rem-calc(14);
            }
        }
    }
}

p,
.ul,
.ol,
.table {
    + .ul,
    + .ol,
    + .table {
        margin-top: map-get($spacers, 4);
    }

    + h1 {
        margin-top: rem-calc(map-get($spacers, 6));
        @include media-breakpoint-up(sm) {
            margin-top: rem-calc(map-get($spacers, 9));
        }
    }

    + h2 {
        margin-top: rem-calc(map-get($spacers, 6));
        @include media-breakpoint-up(sm) {
            margin-top: rem-calc(map-get($spacers, 9));
        }
    }

    + h3 {
        margin-top: rem-calc(map-get($spacers, 4));
        @include media-breakpoint-up(sm) {
            margin-top: rem-calc(map-get($spacers, 6));
        }
    }

    + h4 {
        margin-top: rem-calc(map-get($spacers, 4));
        @include media-breakpoint-up(sm) {
            margin-top: rem-calc(map-get($spacers, 6));
        }
    }

}

ul,
ol,
.table {
    + p {
        margin-top: rem-calc(map-get($spacers, 4));
    }
}

hr {
    border-top: rem-calc(3) solid $color-secondary;
    background-color: $color-primary;
    margin-top: map-get($spacers, 3);
    margin-bottom: map-get($spacers, 3);
    opacity: 1;
}
