/* ==================================================
* Footer-Menu
* ================================================== */
@use 'sass:math';
.nav-footer {

    margin-top: rem-calc($spacer);
    padding-top: rem-calc($spacer);
    border-top: rem-calc(1) solid $color-white;

    &-list {
        @include copy-small;
        flex-wrap: wrap;
        gap: rem-calc($spacer);

        @include media-breakpoint-up(lg) {
            gap: rem-calc(40);
            row-gap: rem-calc($spacer);
        }
    }

    &-link,
    &-link:link,
    &-link:visited,
    &-link:hover {
        color: $color-white;
        text-decoration: none;
    }

    &-link:hover {
        text-decoration: underline;
    }
}

