/* ==================================================
* Main-Menu
* ================================================== */
.nav-main {

    margin-bottom: rem-calc(-10);

    &-list {
        justify-content: center;
        width: 100%;
        gap: rem-calc(map-get($spacers, 6));

        @include media-breakpoint-up(xl) {
            gap: rem-calc(map-get($spacers, 10));
        }
    }

    &-link {
        // accessibility
        @include accessibility-outline($color: $color-outline);
    }

    &-link.level-1,
    &-link.level-1:link,
    &-link.level-1:visited,
    &-link.level-1:hover {

        font-size: rem-calc(25);
        line-height: 100%;
        color: $color-black;

        /** Fix for menu jumping on active/hover*/
        &::after {
            display: block;
            content:attr(title);
            font-weight: bold;
            visibility: hidden;
            overflow: hidden;
            height: 0;
        }
    }

    &-link.level-1 {
        @include text-marker();

        &.active,
        &:hover {
        }

        &.active {
            font-weight: bold;
        }
    }
}


/**
 * blur-effect
 */
.background-blur {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.7);
    transition: opacity 0.5s ease-in-out;
    opacity:0;
    z-index:-1;
}

.flyout-open,
.flyout-closing {
    .background-blur {
        z-index:90;
    }
}

.flyout-open{
    .background-blur {
        opacity:1;
    }
}
