/* ==================================================
* Main-Menu
* ================================================== */
.nav-main {

    &-list {
        @include list-reset();
        justify-content: center;
        width: 100%;
        gap: rem-calc(map-get($spacers, 6));

        @include media-breakpoint-up(xl) {
            gap: rem-calc(map-get($spacers, 10));
        }
    }

    &-item {
        display: flex;
        justify-content: end;
        flex-direction: column;
    }

    &-link,
    &-link:link,
    &-link:visited,
    &-link:hover {
        font-size: rem-calc(20);
        line-height: 100%;
        color: map-get($color-map, 'grey-800');

        @include media-breakpoint-up(xl) {
            font-size: rem-calc(25);
        }

        // accessibility
        @include accessibility-outline($color: $color-outline);
    }

    &-link.level-1,
    &-link.level-1:link,
    &-link.level-1:visited,
    &-link.level-1:hover {

        position: relative;
        top: rem-calc(4);

        @include media-breakpoint-up(xl) {
            top: rem-calc(3);
        }

        /** Fix for menu jumping on active/hover*/
        &::after {
            display: block;
            content:attr(title);
            font-weight: bold;
            visibility: hidden;
            overflow: hidden;
            height: 0;
        }
    }

    &-list.level-3 {
        margin-left: rem-calc(map-get($spacers, 4));
        margin-top: rem-calc(map-get($spacers, 3));
    }

    &-item.level-3 {
        margin-top: rem-calc(map-get($spacers, 1));
        width: max-content;
        display: block;
    }

    &-link.level-3,
    &-link.level-3:link,
    &-link.level-3:visited,
    &-link.level-3:hover {
        font-size: rem-calc(18);

        @include media-breakpoint-up(xl) {
            font-size: rem-calc(20);
        }
    }

    /**  Override for toggle */
    .toggle {
        @include media-breakpoint-between(lg,xl) {
            .toggle-icon:not(:has(svg)),
            .toggle-icon svg {
                font-size: rem-calc(20);
            }
        }
    }

    /**  Hover-effects */
    &-link.level-1,
    &-link.level-3 {
        @include text-marker();

        &.active {
            font-weight: bold;
            color: $color-text;
        }
    }

    /** Flyout stuff */
    &-flyout {

        &-wrap {
            max-width: rem-calc($page-max-inner-width);
            margin-left: auto;
            margin-right: auto;

            min-height: rem-calc(450);
            max-height: 100vh
        }

        &-toggle-container {
            position: absolute;
            top: 0;
            left: 0;
            // left: 50%;
            // max-width: rem-calc($page-max-inner-width);
            // transform: translateX(-50%);
            width: 100%;
            z-index: 10;
        }


        &-toggle-close {
            position: absolute;
            right: rem-calc(map-get($spacers, 5));
            top: rem-calc(map-get($spacers, 5));
            pointer-events: all;

            // accessibility
            @include accessibility-outline($color: $color-outline);

            .icon {
                font-size: rem-calc(48) !important;
                color: map-get($color-map, 'grey-200') !important;
            }
        }

        &-image {
            position: absolute;
            left: calc(60vw);
            top:0;
            width: 40vw;

            .img-inner {
                display: flex;
                justify-content: center;
            }

            img {
                object-fit: cover;
                width: auto;
            }
        }

        &-content {
            width: 60vw;
            max-width: rem-calc(800);
        }
    }
}


.flyout-open,
.flyout-closing {
    .background-blur {
        z-index:90;
    }
}

.flyout-open{
    .background-blur {
        opacity:1;
    }
}

.flyout-open {
    .siteheader {
        position:absolute;
    }
}
