/* ==================================================
* Main-menu
* ================================================== */
.nav-mobile {

    .nav-mobile-toggle {
        align-items: flex-start;
        margin-top: rem-calc(2);
        .icon {
            font-size: rem-calc(32);
        }

        @include media-breakpoint-up(md) {
            .icon {
                font-size: rem-calc(20);
            }
        }

        @include media-breakpoint-up(xl) {
            .icon {
                font-size: rem-calc(24);
            }
        }
    }

    .slide-nav {
        &-back,
        &-back:link,
        &-back:visited,
        &-back:hover,
        &-link,
        &-link:link,
        &-link:visited,
        &-link:hover,{
            color: map-get($color-map, 'grey-800');
            @include accessibility-outline($color: $color-outline);
        }

        &-link.active {
            font-weight: bold;
            color: $color-text;
        }

        &-headline {
            margin-bottom: rem-calc(map-get($spacers, 5));
        }

        &-back-label {
            pointer-events: all;
            @include text-marker();
        }

        &-back:hover {
            .slide-nav-back-label:before {
                width: 100%;
            }
        }

        &-item-footer {
            padding-top: rem-calc(map-get($spacers, 5));
        }

        &-meta {
            &-list {
                @include copy-small;

                flex-wrap: wrap;
                gap: rem-calc($spacer);
            }

            &-link,
            &-link:link,
            &-link:visited,
            &-link:hover {
                color: $color-primary;
            }
        }


    }
}
