/* ==================================================
* Sitemap-Menu
* ================================================== */
.nav-sitemap {

    &-list {
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        gap: map-get($spacers, 1);
    }

    &-list.level-2 {
        margin-top: rem-calc(4);
        @include media-breakpoint-up(xl) {
            margin-top: rem-calc(14);
        }
    }

    &-item {
        @include copy;
        flex-basis: 100%;

        @include media-breakpoint-up(sm) {
            @include flex-basis(2, map-get($spacers, 1));
        }

        @include media-breakpoint-up(md) {
            @include flex-basis(3, map-get($spacers, 1));
        }

        @include media-breakpoint-up(lg) {
            @include flex-basis(4, map-get($spacers, 1));
        }
    }

    &-item.level-2 {
        margin-bottom: rem-calc(8);
    }

    &-link,
    &-link:link,
    &-link:visited,
    &-link:hover {
        display: inline-block;
        color: $color-secondary;
    }

    &-link {
        &:hover,
        &.active {
            color: $color-secondary;
            text-decoration: underline;
        }

        &.active {

        }
    }

    &-link.level-2,
    &-link.level-2:link,
    &-link.level-2:visited,
    &-link.level-2:hover {
        font-family: $font-family-sans;
    }
}
