/* ==================================================
* Accessibility
* ================================================== */
/// Adds a visible and accessible focus outline for interactive elements.
///
/// Ensures that keyboard users can visually identify focused elements
/// (e.g., buttons, links, inputs) with a strong outline for accessibility.
/// This mixin is meant to be used on elements that need clear focus styles
/// without relying on default browser outlines.
///
/// @group Accessibility
///
/// @param {Color} $color - Outline color for focused state. Defaults to `$color-outline`.
/// @param {Length} $width - Outline width. Defaults to `3px`.
/// @param {Selector} $selector - Optional sub-selector to apply the outline to. Defaults to `null`
///
/// @example scss
///   button,
///   a {
///     @include accessibility-outline();
///   }
///
/// @example scss
///   .custom-button {
///     @include accessibility-outline($color: #005fcc, $width: 2px);
///   }
///
/// @author Steffen Kroggel <developer@steffenkroggel>
/// @license GNU General Public License v3.0 https://www.gnu.org/licenses/gpl-3.0.en.html
///
@mixin accessibility-outline($color: var(--bs-primary), $width: 2px, $selector: null) {

    // remove outline
    &:focus,
    &:focus-within {
        outline: 0;
    }

    // default behavior
    @if $selector == null {

        &:has(input:focus-visible),
        &:focus-visible {
            outline: rem-calc($width) solid $color;
            outline-style: solid;
            outline-offset: rem-calc(2);
            outline-width: rem-calc(2);
        }
    }
    @else {

        // if we have a pseudo-element selector
        // we need to add a space before the pseudo-element
        // to prevent the pseudo-element from being removed
        // when the selector is parsed
        @if str-slice($selector, 1, 2) == '::' {
            &:has(input:focus-visible)#{$selector},
            &:focus-visible#{$selector} {
                outline: rem-calc($width) solid $color;
                outline-style: solid;
                outline-offset: rem-calc(2);
                outline-width: rem-calc(2);
            }
        }

            // if we have normal selector
            // we can just add the selector
        @else {
            &:has(input:focus-visible) #{$selector},
            &:focus-visible #{$selector} {
                outline: rem-calc($width) solid $color;
                outline-style: solid;
                outline-offset: rem-calc(2);
                outline-width: rem-calc(2);
            }
        }
    }
}

